schema/a.xsd

<xsd:schema
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="a"
		xmlns:a="a"
		elementFormDefault="qualified">

	<xsd:element name="main" type="a:Main"/>

	<xsd:complexType name="Main">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="multiplePatternsWithBase" type="a:patternList"/>
			<xsd:element name="numbers" type="a:Numbers"/>
			<xsd:element name="strings" type="a:Strings"/>
			<xsd:element name="unsignedByte" type="a:unsignedByte"/>
			<xsd:element name="choices" type="a:Choices"/>
			<xsd:element name="complexChoices" type="a:ComplexChoices"/>
			<xsd:element name="choicesWithMinMax" type="a:ChoicesWithMinMax"/>
			<xsd:element name="complexChoicesWithMinMax" type="a:ComplexChoicesWithMinMax"/>
			<xsd:element name="enumerations" type="a:Enumerations"/>
			<xsd:element name="enumeration" type="a:Enumeration"/>
			<xsd:element name="array" type="a:ArrayOfBytes"/>
			<xsd:element name="primitives" type="a:Primitives"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Numbers">
		<xsd:sequence>
			<xsd:element name="minInclusive" type="a:minInclusive"/>
			<xsd:element name="maxInclusive" type="a:maxInclusive"/>

			<xsd:element name="minExclusive" type="a:minExclusive"/>
			<xsd:element name="maxExclusive" type="a:maxExclusive"/>
			<xsd:element name="minMaxExclusive" type="a:minMaxExclusive"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="NumberWithCode" type="a:NumberWithCode"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Primitives">
		<xsd:sequence>
			<xsd:element name="int" type="xsd:int"/>
			<xsd:element name="long" type="xsd:long"/>
			<xsd:element name="boolean" type="xsd:boolean"/>
			<xsd:element name="double" type="xsd:double"/>
			<xsd:element name="float" type="xsd:float"/>
			<xsd:element name="byte" type="xsd:byte"/>
			<xsd:element name="short" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Number">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="NumberWithCode">
		<xsd:simpleContent>
			<xsd:extension base="a:Number">
				<xsd:attribute name="code" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:complexType name="Strings">
		<xsd:sequence>
			<xsd:element name="faxNumber" type="a:FaxNumber"/>
			<xsd:element name="pattern" type="a:pattern"/>
			<xsd:element name="idType" type="a:idType"/>
			<xsd:element name="genericString" type="a:minMaxLength"/>
			<xsd:element name="maxLength" type="a:maxLength"/>
			<xsd:element name="minLength" type="a:minLength"/>
			<xsd:element name="someCollection" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Dates">
		<xsd:sequence>
			<xsd:element name="date1" type="a:date1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="FaxNumber">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="pattern">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]"/>
			<xsd:pattern value="[a-z]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="minMaxLength">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="maxLength">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="minLength">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="unsignedByte">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:pattern value="[0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="maxInclusive">
		<xsd:restriction base="xsd:long">
			<xsd:maxInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="minInclusive">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="maxExclusive">
		<xsd:restriction base="xsd:long">
			<xsd:maxExclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="minExclusive">
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="minMaxExclusive">
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
			<xsd:maxExclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="date1">
		<xsd:restriction base="xsd:gYearMonth">
			<xsd:minInclusive value="1911-01"/>
			<xsd:pattern value="\d{4}-\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Choices">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Tea" type="xsd:string"/>
				<xsd:element name="Coffee" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="ArrayOfBytes">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="idType">
		<xsd:restriction base="xsd:ID">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ComplexChoices">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Tea" type="a:Tea"/>
				<xsd:element name="Coffee" type="a:Coffee"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Tea">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="foo" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Coffee">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="bar" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ChoicesWithMinMax">
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="2">
				<xsd:element name="Tea" type="xsd:string"/>
				<xsd:element name="Coffee" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplexChoicesWithMinMax">
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="2">
				<xsd:element name="Tea" type="a:Tea"/>
				<xsd:element name="Coffee" type="a:Coffee"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Enumerations">
		<xsd:sequence>
			<xsd:element name="foo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N05"/>
						<xsd:enumeration value="C05"/>
						<xsd:enumeration value="N04"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Enumeration">
		<xsd:sequence>
			<xsd:element name="foo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N05"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="patternElement" type="a:PatternElement"/>

	<xsd:complexType name="PatternElement">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="multiplePatternsWithBase" type="a:patternList"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="patternList">
		<xsd:restriction base="a:patternListBase">
			<xsd:pattern value="[0-9]"/>
			<xsd:pattern value="[A-B]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="patternListBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>